@charset "UTF-8";

body {
    background-color: rgb(196, 250, 116);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

h1#Principal {
    text-align: center;
}

h2 {
    color: rgb(6, 197, 6);
}

.basico {
    color: black;
}

.intermediario {
    color: blue;
}

.avancado {
    color: darkmagenta;
}

.destaque {
    background-color: aquamarine;
}